$teal: rgba(18, 189, 144, 1);
$pink: rgba(161, 34, 117, 1);
$orange: rgba(228, 116, 51, 1);

.hover-teal {
  &:hover {
    color: $teal;
    transition-duration: 350ms;
  }
}
.hover-orange {
  &:hover {
    color: $orange;
    transition-duration: 350ms;
  }
}
.hover-pink {
  &:hover {
    color: $pink;
    transition-duration: 350ms;
  }
}

.teal {
  color: $teal;
}
.orange {
  color: $orange;
}
.pink {
  color: $pink;
}
