footer {
  background-color: black;
  background-image: linear-gradient(
    45deg,
    rgba($teal, 0.3) 0%,
    rgba($pink, 0.3) 40%,
    rgba($orange, 0.3) 78%
  );
  .inner {
    padding: 1.5rem;
    @media (max-width: 550px) {
      padding: 0.75rem;
    }

    display: flex;
    @media (max-width: 750px) {
      display: block;
    }
    .large {
      width: 75%;
      margin-bottom: 40px;
      padding-right: 1rem;
      @media (max-width: 750px) {
        width: 100%;
      }
    }
    .small {
      width: 25%;
      @media (max-width: 750px) {
        width: 100%;
      }
    }
  }
}
