footer {
  background-color: black;
  background-image: linear-gradient(
    45deg,
    rgba($teal, 0.3) 0%,
    rgba($pink, 0.3) 40%,
    rgba($orange, 0.3) 78%
  );
  .inner {
    padding: 1.5rem;
    @media (max-width: 550px) {
      padding: 0.75rem;
    }
    display: flex;
    .large {
      width: 50%;
    }
    .small {
      width: 25%;
      padding-left: 1.5rem;
      @media (max-width: 550px) {
        padding-left: 0.75rem;
      }
    }
  }
}
