.gallery {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  justify-content: center;
  flex-wrap: wrap;

  img {
    margin: 1rem;
    height: 250px;
    object-fit: contain;
    transition-duration: 350ms;
    border-radius: 2px;
    @media (max-width: 480px) {
      max-width: 100%;
      height: auto;
    }
  }
}

.grid-gallery {
  flex-wrap: wrap;
  margin: 1rem -0.75rem;

  .container {
    flex: 1;
    cursor: pointer;
  }
  img {
    min-width: 180px;
    flex: 1 1 auto;
    margin: 0;
    object-fit: cover;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  .container {
    flex: 1 1;
    height: 200px;
    max-width: 480px;
    min-width: 240px;
    margin: 12px;
  }
}

.img-contain {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.img-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.arrow-holder {
  display: flex;
  place-content: space-between;
  font-size: 40px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.caption-holder {
  position: relative;
  z-index: 2;
  .caption {
    text-align: center;
  }
}
.photo-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
