/* classes for the menu animation */

.hamburger {
  width: 180px;

  @media (max-width: 800px) {
    max-width: min-content;
  }
}

.photo-overlay .hamburger {
  margin-right: 0;
  margin-left: auto;
}

.hamburger-menu {
  padding-top: 6px;
  cursor: pointer;
  margin-left: auto;
  width: 40px;
  position: relative;
  z-index: 5;
  &:hover .icon-bar {
    background: $teal;
    transition-duration: 350ms;
  }
  .icon-bar {
    width: 40px;
    height: 8px;
    margin-bottom: 6px;
    position: relative;
    transition: 350ms ease;
    background-color: white;
    border-radius: 2px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.bar-01 {
  // @extend .filter-blue;

  &.opened {
    transform: rotate(45deg);
    top: 10px;
  }
}
.bar-02 {
  // @extend .filter-red;
  &.opened {
    display: none;
  }
}
.bar-03 {
  // @extend .filter-yellow;
  &.opened {
    transform: rotate(-45deg);
    // @extend .filter-blue;
  }
}
