header {
  padding: 1.5rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  @media (max-width: 550px) {
    padding: 0.75rem;
  }
}

.logo {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.logoicon {
  height: 40px;
  margin-right: 8px;
}
nav li {
  list-style: none;
  margin-right: 8px;
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: gray;
  cursor: pointer;

  &:hover {
    transition-duration: 350ms;
  }
}
.highlighted {
  color: white;
  transition-duration: 350ms;
  cursor: default;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
