/* overlay */

.overlay {
<<<<<<< HEAD
  background-color: gray;
=======
  background-color: red;
>>>>>>> 3c1ee4f878ed6f822b0a41a5d4b4c9e67b398b16
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition-duration: 350ms;
  height: 0;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 3;
  &.open {
    max-height: 100vh;
    height: 100vh;
    padding: 1.5rem;
  }
}
