.videogallery {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  height: 400px;
  width: 710px;
  margin-top: 8px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgba($teal, 0.5);
  border-radius: 8px;
  &.border-orange {
    border-color: rgba($orange, 0.5);
  }

  &.large {
    width: 1000px;
    height: 600px;
    margin-top: 8px;
  }
  &.hidden {
    display: none;
  }
  //   position: fixed;
  // z-index: 10;
  @media (max-width: 770px) {
    width: 100%;
    height: 0;
    padding-top: 28.123%;
    padding-bottom: 28.123%;
  }
  video {
    height: 100%;
    transition-duration: 350ms;
    border-radius: 6px;
    object-fit: cover;
    width: 100%;
    margin: 0;
  }
  .invisible {
    max-width: 0;
    left: 0;
  }
  .absolute {
    position: absolute;
    left: 0;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
  }
  .absolute2 {
    position: absolute;
    right: 0;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
  }
  .invisible2 {
    max-width: 0;
    right: 0;
  }
  .none {
    display: none;
  }
}
.videotextbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 710px;
  margin: auto;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1px;
  &.large {
    max-width: 1000px;
    margin-top: -16px;
  }
}
