.full {
  display: flex;
  height: 200px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

section {
  margin-top: 48px;
  margin-bottom: 48px;
}
.inner {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  @media (max-width: 550px) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.desktop {
  @media (max-width: 800px) {
    display: none;
  }
}
.mobile {
  @media (min-width: 800px) {
    display: none;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
